<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="QuotationSystem1_Url" value="http://quote-system-1.com" />
		<add key="QuotationSystem2_Url" value="http://quote-system-2.com" />
		<add key="QuotationSystem3_Url" value="http://quote-system-3.com" />
		<add key="QuotationSystem1_Port" value="1234" />
		<add key="QuotationSystem2_Port" value="1235" />
		<add key="QuotationSystem3_Port" value="100" />
		<add key="QuotationSystem2_Makes" value="examplemake1,examplemake2,examplemake3" />
	</appSettings>
</configuration>