.vs/ConsoleApp1/v17/.suo
.vs/ConsoleApp1/v17/.suo
ConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp/obj/Debug/ConsoleApp1.exe
ConsoleApp/obj/Debug/ConsoleApp1.exe
ConsoleApp/obj/Debug/ConsoleApp1.pdb
ConsoleAppTests/ConsoleApp.Tests/bin/Debug/ConsoleApp.Tests.dll
ConsoleAppTests/ConsoleApp.Tests/bin/Debug/ConsoleApp.Tests.pdb
ConsoleAppTests/ConsoleApp.Tests/bin/Debug/ConsoleApp1.exe
ConsoleAppTests/ConsoleApp.Tests/bin/Debug/ConsoleApp1.exe.config
ConsoleAppTests/ConsoleApp.Tests/bin/Debug/ConsoleApp1.pdb
ConsoleAppTests/ConsoleApp.Tests/obj/Debug/ConsoleApp.Tests.csproj.AssemblyReference.cache
ConsoleAppTests/ConsoleApp.Tests/obj/Debug/ConsoleApp.Tests.csproj.CoreCompileInputs.cache
ConsoleAppTests/ConsoleApp.Tests/obj/Debug/ConsoleApp.Tests.dll
ConsoleAppTests/ConsoleApp.Tests/obj/Debug/ConsoleApp.Tests.pdb
ConsoleAppTests/ConsoleApp.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
